## How to drop columns from dataframe with various conditions

In [2]:
import pandas as pd
from collections import Counter
from datetime import datetime
from datetime import date
import time
import numpy as np
import matplotlib.pyplot as plt
import json
from matplotlib import rcParams

In [8]:
df = pd.DataFrame(np.arange(12).reshape(3,4), columns=['A','B','C','D'])

In [22]:
df

   A  B   C   D     E
0  0  1   2   3  None
1  4  5   6   7  None
2  8  9  10  11  None

In [80]:
df['E'] = None
df['F'] = ''
df['G'] = ''
df

   A  B   C   D     E F G
0  0  1   2   3  None
1  4  5   6   7  None
2  8  9  10  11  None

In [63]:
df.dropna(axis = 1, how='all', inplace=True)
df

# Now

   A  B   C   D F G
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

Here we are collecting the columns which has purely empty column. 
After that we are using drop() to drop those columns.

In [67]:
required_columns = []
for x in df.columns:
    temp_series = df[x]
    cnt = 0
    for y in range(len(temp_series)):
        if(temp_series[y] == ''):
            cnt += 1
    if cnt == len(temp_series):
        required_columns.append(x)

In [78]:
required_columns

# We foundout that columns F and G are empty columns,

['F', 'G']

In [81]:
df.drop(columns = required_columns, inplace=True)

# Now drop those columns

In [75]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11